body {
}

.container {
   
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 50px 300px 100px 300px 300px 300px 100px repeat(3, 300px) 100px 300px 100px 300px 150px;
    max-width: 1200px;
    margin: auto;
 
}

section.title_bar {
    grid-column: 1/ span 6;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    color: #DFDED1;
   
}
section.nav-item {
    grid-column: 7 / span 5;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;

}
ul {
    list-style-type: none;
    margin: 0;
    
    margin-left: 175px
}

li {
    display: inline;
}

    li a {
        text-decoration: none;
        font-size: 11px;
        color: white;
        margin: 10px;
        
    }
section.Title_Image1 {
    grid-column: 1/ span 8;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #DFDED1;
    text-align: center;
    padding-top: 70px;
}
section.Title_Image2 {
    grid-column: 9 /span 3;
    background-image: url('images/Versilia.jpg');
    background-size: cover;
}

section.LocationBar {
    grid-column: 1 / span 11;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #DFDED1;
    text-align: center;
}
.buttonGeneral {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonGeneralWhite {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonOnPic {
    
    opacity: 0.9;
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 120px 60px;
    cursor: pointer;
}

section.Location1text {
    grid-column: 1 / span 6;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D;
    margin: 10px;
}
section.Location1image {
    grid-column: 7 / span 5;
    
}
section.Location2image {
    grid-column: 1 / span 5;
    background-color: #474E5D;
    padding-left; 20px;
}
section.Location2text {
    grid-column: 6 / span 6;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #DFDED1;
    padding-right: 20px;
    
}
section.Location3text {
    grid-column: 1 / span 6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D;
    margin: 10px;
}
section.Location3image {
    grid-column: 7 / span 5;
    
}
section.Ammenities {
    grid-column: 1 / span 11;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #DFDED1;
    text-align: center;
}
section.Grid1 {
    grid-column: 2 / span 3;
    background-color: darkblue;
    background-image: url('images/Grid1.jpg');
    background-size: cover;
    text-align: center;
}
section.Grid2 {
    grid-column: 5 / span 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D;
    padding-top: 70px;
}
section.Grid3 {
    grid-column: 8 / span 3;
    background-color: darkblue;
    background-image: url('images/Grid3.jpg');
    background-size: cover;
}
section.Grid4 {
    grid-column: 2 / span 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D;
    padding-top: 70px;
}
section.Grid5 {
    grid-column: 5 / span 3;
    background-color: darkblue;
    background-image: url('images/Grid5.jpg');
    background-size: cover;
}
section.Grid6 {
    grid-column: 8 / span 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D;
    padding-top: 70px;
}
section.Grid7 {
    grid-column: 2 /span 3;
    background-color: darkblue;
    background-image: url('images/Grid7.jpg');
    background-size: cover;
}
section.Grid8 {
    grid-column: 5 / span 3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D;
    padding-top: 70px;
}
section.Grid9 {
    grid-column: 8 / span 3;
    background-color: darkblue;
    background-image: url('images/Grid9.jpg');
    background-size: cover;
}
section.Reviews {
    grid-column: 1 / span 11;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #DFDED1;
    text-align: center;
}
section.RevCarousel {
    grid-column: 1 /span 11;
    
}
/*BEGIN carousel CODE*/
.slider {
    max-width: 300px;
    height: 200px;
    margin: 20px auto;
    position: relative;
}

.slide1, .slide2, .slide3, .slide4, .slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 {
    background: url(http://www.snarkywisdom.co.uk/wp-content/uploads/2014/11/flexible.jpg)no-repeat center;
    background-size: cover;
    animation: fade 12s infinite;
    -webkit-animation: fade 12s infinite;
}

.slide2 {
    background: url(https://soloquotes.com/wp-content/uploads/2017/12/1512679408_most-funny-quotes-26-funny-and-snarky-quotes-sarcasm-lol-funnyquotes-funnysayings.jpg)no-repeat center;
    background-size: cover;
    animation: fade2 12s infinite;
    -webkit-animation: fade2 12s infinite;
}

.slide3 {
    background: url(https://i.pinimg.com/736x/db/09/84/db09842ae59c2068f7e235ca86a38bd6--witty-quotes-quote-funny-sarcastic.jpg)no-repeat center;
    background-size: cover;
    animation: fade3 12s infinite;
    -webkit-animation: fade3 12s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }

    33.333% {
        opacity: 0
    }

    66.666% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }

    33.333% {
        opacity: 1
    }

    66.666% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }

    33.333% {
        opacity: 0
    }

    66.666% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
/*END OF carousel CODE*/

section.Contact {
    grid-column: 1 / span 11;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #DFDED1;
    text-align: center;
}
section.ContactFormInfo {
    grid-column: 1 / span 6;
    text-align: center;
}
section.ContactForm {
    grid-column: 7 / span 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #474E5D1;
    
}
section.Footer {
    grid-column: 1 / span 11;
    background-color: #474E5D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #DFDED1;
    text-align: center;
}
